<div class="m-5 pet" data-pet="{{this.id}}">
    <h2>{{this.name}}</h2>
    <p>is a {{this.sex}} {{this.breed}} located in {{this.location}}.</p>
    <br>
    <div class="container mx-0 px-0">
        <div class="row mx-0">
            <div class="col-7 px-0 mr-5">
                <img class="large-image" src="{{this.photo}}"/>
            </div>
            <div id="pet-details col-5">
                <div class="pet-name">
                    <label class="bold">Name:&nbsp;</label><span class="pet-info">{{this.name}}</span>
                </div>
                <div class="pet-type">
                    <label class="bold">Type:&nbsp;</label><span class="pet-info">{{this.type}}</span>
                </div>
                <div class="pet-location">
                    <label class="bold">Location:&nbsp;</label><span class="pet-info">{{this.location}}</span>
                </div>
                <div class="pet-birthday">
                    <label class="bold">Birthday:&nbsp;</label><span class="pet-info">{{format_date this.birthday}}</span>
                </div>
                <div class="pet-sex">
                    <label class="bold">Sex:&nbsp;</label><span class="pet-info">{{this.sex}}</span>
                </div>
                <div class="pet-breed">
                    <label class="bold">Breed:&nbsp;</label><span class="pet-info">{{this.breed}}</span>
                </div>
                <div class="pet-size">
                    <label class="bold">Size:&nbsp;</label><span class="pet-info">{{this.size}}</span>
                </div>
                <div class="pet-color">
                    <label class="bold">Colour:&nbsp;</label><span class="pet-info">{{this.colour}}</span>
                </div>
                <div class="pet-personality">
                    <label class="bold">Personality:&nbsp;</label><span class="pet-info">{{this.personality}}</span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div id="pet-comment">
        <h3>Comments</h3>
        <div class="comments">
            {{#each comments as |comment|}}
            <div>
                {{comment.user.username}}: {{comment.user_comment}}
            </div>
            {{/each}}
        </div>
        <br>
        <form>
            <p class="italics">Add a comment: </p>
            <div>
                <textarea id="new-comment"></textarea>
                <div><button class="btn btn-secondary btn-md my-4 px-5" id="send">POST</button></div>
            </div>
        </form>
        <br>
        <div class="back-link"> <a href="/adoptpet/cat">← Back to cats</a></div>
    </div>
</div>

<script src="/js/newComment.js"></script>