<div class="jumbotron">
    <div>
        {{#each cats as |cat|}}
        <div class="">
            <h3>
                <a class="text-decoration-none" href="/adoptpet/cat/{{cat.id}}">{{cat.name}}</a> 
            </h3>
            <p>is a {{cat.sex}} {{cat.breed}} located in {{cat.location}}</p> 
            <img src="{{cat.photo}}" alt="A ginger cat">
        </div>
        {{/each}}
    </div>
</div>