<main>
    <br>
    <p class="py-3 mx-2 text-center">The following cats are available for adoption.</p>
    {{#each cats as |cat|}}
    <div class="container">
        <div class="row bg-card d-flex mx-auto shadow-sm p-3 bg-body rounded justify-content-between">
            <span class="col-8">
                <h3>
                    <a class="text-decoration-none" href="/adoptpet/cat/{{cat.id}}">{{cat.name}}</a> 
                </h3>
                <p class="link-dark">is a {{cat.sex}} {{cat.breed}} located in {{cat.location}}.</p> 
                <a class="italics" href="/adoptpet/cat/{{cat.id}}">Read more →</a> 
            </span>
            <img class="tile col-3" src="{{cat.photo}}" alt="Photo of cat">
        </div>
        <br>
    </div>
    {{/each}}
</main>