<main>
    <br>
    <p class="py-3 mx-2 text-center">The following cats are available for adoption.</p>
    <div class="container">
    {{#each cats as |cat|}}
        <div class="bg-card d-flex justify-content-around mx-2 my-4 shadow-sm p-3 mb-5 bg-body rounded">
            <span>
                <h3>
                    <a class="text-decoration-none" href="/adoptpet/cat/{{cat.id}}">{{cat.name}}</a> 
                </h3>
                <p class="link-dark">is a {{cat.sex}} {{cat.breed}} located in {{cat.location}}</p> 
                <a class="" href="/adoptpet/cat/{{cat.id}}">Read more →</a> 
            </span>
            <img src="{{cat.photo}}" alt="Photo of cat">
        </div>
    {{/each}}
    </div>
</main>