<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-7 mx-auto">
            <div class="text-center">
                <br>
                <h2>Welcome, {{username}}!</h2>
                <br>
            {{#if pets.length}}
                <p>Here is a list of the pets ypu currently have up for adoption.</p>
                <br>
            </div>
            <div id="pet-list">
                {{#each pets as |pet|}}
                <div class="container">
                    <div class="row bg-card d-flex mx-auto shadow-sm p-3 bg-body rounded justify-content-between">
                        <div class="col-lg-8">
                            <h3>
                                <a class="text-decoration-none" href="/adoptpet/{{pet.type}}/{{pet.id}}">{{pet.name}}</a> 
                            </h3>
                            <p class="link-dark">is a {{pet.sex}} {{pet.breed}} located in {{pet.location}}.</p> 
                            <a class="italics" href="/adoptpet/{{pet.type}}/{{pet.id}}">See comments →</a>
                            <div><button class="delete-pet" class="btn btn-secondary btn-lg my-4 px-5" data-pet-id="{{this.id}}">DELETE LISTING</button></div>
                        </div>
                        <img class="tile col-lg-4 my-2 my-lg-0" src="{{pet.photo}}" alt="Photo of pet">
                    </div>
                    <br>
                </div>
                {{/each}}
            </div>
            {{else}}
                <p>You currently have no pets listed for adoption.</p>
                <img src="/images/header_logo.png" alt="Pawfect Match" class="header logo"/>
            {{/if}}
        </div>
    </div>
</div>

<script src="/js/deletePet.js"></script>