<div class="jumbotron">
    <div>
        {{#each dogs as |dog|}}
        <div class="">
            <h3>
                <a class="text-decoration-none" href="/adoptpet/dog/{{dog.id}}">{{dog.name}}</a> 
            </h3>
            <p>is a {{dog.sex}} {{dog.breed}} located in {{dog.location}}</p> 
            <img src="{{dog.photo}}" alt="Dog photo">
        </div>
        {{/each}}
    </div>
</div>