<main>
    <br>
    <p class="py-3 mx-2 text-center">The following dogs are available for adoption.</p>
    <div class="container">
    {{#each dogs as |dog|}}
        <div class="bg-card d-flex justify-content-around mx-2 my-4 shadow-sm p-3 mb-5 bg-body rounded">
            <span>
                <h3>
                    <a class="text-decoration-none" href="/adoptpet/dog/{{dog.id}}">{{dog.name}}</a> 
                </h3>
                <p class="link-dark">is a {{dog.sex}} {{dog.breed}} located in {{dog.location}}.</p> 
                <a class="italics" href="/adoptpet/dog/{{dog.id}}">Read more →</a> 
            </span>
            <img src="{{dog.photo}}" alt="Photo of dog">
        </div>
    {{/each}}
    </div>
</main>