<main>
    <br>
    <p class="py-3 mx-2 text-center">The following dogs are available for adoption.</p>
    {{#each dogs as |dog|}}
    <div class="container">
        <div class="row bg-card d-flex mx-auto shadow-sm p-3 bg-body rounded justify-content-between">
            <span class="col-8">
                <h3>
                    <a class="text-decoration-none" href="/adoptpet/dog/{{dog.id}}">{{dog.name}}</a> 
                </h3>
                <p class="link-dark">is a {{dog.sex}} {{dog.breed}} located in {{dog.location}}.</p> 
                <a class="italics" href="/adoptpet/dog/{{dog.id}}">Read more →</a> 
            </span>
            <img class="tile col-3" src="{{dog.photo}}" alt="Photo of dog">
        </div>
        <br>
    {{/each}}
    </div>
</main>